*.o
bf2any/bf2asmjs
bf2any/bf2awk
bf2any/bf2bas
bf2any/bf2bash
bf2any/bf2bf
bf2any/bf2cgmp
bf2any/bf2clojure
bf2any/bf2dc
bf2any/bf2gas32
bf2any/bf2gas64
bf2any/bf2gcc
bf2any/bf2jit
bf2any/bf2jit.amd64.h
bf2any/bf2jit.i686.h
bf2any/bf2lua
bf2any/bf2neko
bf2any/bf2pas
bf2any/bf2perl
bf2any/bf2php
bf2any/bf2ps1
bf2any/bf2py
bf2any/bf2rb
bf2any/bf2rc
bf2any/bf2run
bf2any/bf2sh
bf2any/bf2slang
bf2any/bf2tcc
bf2any/bf2tcc.lib-off
bf2any/bf2tcc.lib-on
