*.tmp.*
bbf2bfrle
bf0k
bf1k
bfas
bfopt
byte2byte
c-sizes
cdowhile
deadbeef
easy
hydrogen
hydrogen0k
hydrogen16
hydrogen1k
hydrogen32
hydrogen3k
hydrogen64
hydrogen8
hydrogenasc
lightning
microbf
neutron
ook
profilebf
proton
qtable.h
trixy
txtbf
